<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="HeaderText" value="PC Info Tool"/>
    <add key="DescriptionText" value="The PC Info Tool is deployed to computers to assist help desk staff in troubleshooting connections to user computers."/>
    <add key="ShowIPv4Addresses" value="true"/>
    <add key="ShowIPv6Addresses" value="false"/>
    <add key="ShowMACAddresses" value="true"/>
    <add key="CheckDomain" value=""/>
  </appSettings>
</configuration>